<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item  routerLink="/AllItems">AllItems</a>
      <mat-nav-list>
      <span  *ngFor="let item of items">
        <a mat-list-item  routerLink="/DisplayItem/{{item}}">{{item}}</a>
      </span>
    </mat-nav-list>
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>QueryViewer</span>
    </mat-toolbar>
    <mat-spinner *ngIf="isLoading"></mat-spinner>    
    <router-outlet></router-outlet>
    <mat-spinner *ngIf="isLoading"></mat-spinner>    

    <div></div>
  </mat-sidenav-content>
</mat-sidenav-container>
