@page "/"
@inject IConfiguration Configuration

<PageTitle>Databases</PageTitle>

<h1>Database browser </h1>


    

@* @if (databases == null)
{
    <p><em>Loading...</em></p>
}
else
{
} *@


@code {
    private string[]? databases= null;
    // [Inject(Key = "db")]
    // public HttpClient HttpClient_WebApi { get; set; }

    protected override async Task OnInitializedAsync()
    {

        //databases = await HttpClient_WebApi.GetFromJsonAsync<string[]>("api/MetaData/DBNames");
        await Task.Delay(100000);
    }
}
